apiVersion: v1
kind: ConfigMap
metadata:
  name: demo-otel-app-config
  namespace: demo-otel-app
data:
  SERVER_PORT: "8080"

  # Postgres (in-cluster)
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres.demo-otel-app.svc.cluster.local:5432/demo"
  SPRING_DATASOURCE_USERNAME: "demo"
  SPRING_DATASOURCE_PASSWORD: "demo"

  # Observabilidade (OTel) é configurada via `05-instrumentation.yaml` (injeção por infra)


